<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487675039627-v5491qsjueb7cpbfl6r7q4ekrjs0drg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487675039627-v5491qsjueb7cpbfl6r7q4ekrjs0drg1</string>
	<key>API_KEY</key>
	<string>AIzaSyBqpi74TTJIvm5tSqXyGdw776cCPKSLPZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>487675039627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tushar.Parkour</string>
	<key>PROJECT_ID</key>
	<string>parkour-c196e</string>
	<key>STORAGE_BUCKET</key>
	<string>parkour-c196e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487675039627:ios:e00cad7a76c772a990298e</string>
	<key>DATABASE_URL</key>
	<string>https://parkour-c196e.firebaseio.com</string>
</dict>
</plist>